h1 {
    font-size: 65px;
    color: orange;
    font-family:sans-serif;
    text-decoration:underline;
}
ul  {
    background-color: mediumseagreen;
}
.color-style {
    background-color: blanchedalmond;

}
#paragrathcolor{
    font-weight: 600;
    font-size: 3em;
    line-height: 150%;
}
body {
    font-size:16px;
    font-style: normal;
    list-style: none;
    line-height: normal;

    
}
li:nth-of-type(3n){
    background-color: brown;
}
li:nth-of-type(2n){
    background-color: red;
}
li:first-of-type{
    background-color: yellow;
}