   
   div:nth-of-type(2n+1){
    font-style:italic;
   }
   
   div:nth-of-type(2n){
       font-family: 'Courier New', Courier, monospace;
        color: aquamarine;
        transition-duration: 2s;
        text-align: center;
    }
    div:nth-of-type(3n){font-family: 'Courier New', Courier, monospace;
        color: lightcoral;
        transition:2s;
        text-align: center;
       
        
    }

    div:nth-of-type(1) {font-family: 'Courier New', Courier, monospace;
        color:blanchedalmond;
        transition:2s;
        text-align: center;



    }
    div:nth-of-type(5n){font-family: 'Courier New', Courier, monospace;
       color:chartreuse;
       transition:2s;
       text-align: center;

    }
    div:nth-of-type(4n){font-family: 'Courier New', Courier, monospace;
     color:darkkhaki;
     transition:2s;
     text-align: center;
     
    
    }

    div:nth-of-type(2n):hover {
        background-color:lightblue;
        border: 3px groove black;
        margin-left: 0px;
       
        transition:cubic-bezier(0.075, 0.82, 0.165, 1)
    }
    div:nth-of-type(3n):hover {
        background-color:lightblue;
        border: 3px solid red;
        margin-left: 0px;
        
        transition:cubic-bezier(0.165, 0.84, 0.44, 1)
    }
    div:nth-of-type(1):hover {
        background-color:lightblue;
        border: 3px groove yellow;
        margin-left: 0px;
     
        transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    div:nth-of-type(4n):hover {
        background-color:lightblue;
        border: 3px groove grey;
        margin-left: 0px;
        
        transition:cubic-bezier(0.075, 0.82, 0.165, 1)
    }
    div:nth-of-type(5n):hover {
        background-color:lightblue;
        border: 3px groove blue;
        margin-left: 0px;
        transition:cubic-bezier(0.075, 0.82, 0.165, 1)
    }

